<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
    <div class="container">
        <div class="row my-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        자유게시판
                    </div>
                    <div class="card-body">
                        <table class="table text-center table-hover">
                            <tbody>
                            <tr th:each="free : ${freeList}">
                                <td><a th:href="|@{/free/{boardNo}(boardNo=${free.boardNo})}|">
                                    [[ ${free.boardTitle} ]]
                                </a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        공지게시판
                    </div>
                    <div class="card-body">
                        <table class="table text-center table-hover">
                            <tbody>
                            <tr th:each="notice : ${noticeList}">
                                <td><a th:href="|@{/notice/{boardNo}(boardNo=${notice.boardNo})}|">
                                    [[ ${notice.boardTitle} ]]
                                </a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- row -->

        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        갤러리
                    </div>
                    <div class="card-body">
                        <table class="table text-center table-hover">
                            <tbody>
                            <tr th:each="gallery : ${galleryList}">
                                <td><a th:href="|@{/gallery/{boardNo}(boardNo=${gallery.boardNo})}|">
                                    [[ ${gallery.boardTitle} ]]
                                </a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        자료실
                    </div>
                    <div class="card-body">
                        <table class="table text-center table-hover">
                            <tbody>
                            <tr th:each="attached : ${attachedList}">
                                <td><a th:href="|@{/attached/{boardNo}(boardNo=${attached.boardNo})}|">
                                    [[ ${attached.boardTitle} ]]
                                </a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    const count = [[${articleCountByDate}]];

    function getDatesForLastWeek() {
        const dates = [];
        const currentDate = new Date();

        for (let i = 6; i >= 0; i--) {
            const date = new Date();
            date.setDate(currentDate.getDate() - i);
            dates.push(date.toISOString().split('T')[0]);
        }
        return dates;
    }
    const lastWeekDates = getDatesForLastWeek();

    const chartData = lastWeekDates.map(date => count[date] || 0);

    let ctx = document.getElementById('myChart').getContext('2d');
    let chart = new Chart(ctx, {
        type: 'line',

        data: {
            labels: lastWeekDates,
            datasets: [{
                label: '등록된 개시글 개수',
                backgroundColor: 'transparent',
                borderColor: 'red',
                data: chartData
            }]
        },
        options: {
            legend: {
                display: false
            },
            title: {
                display : true,
                text: '일주일 간 새로운 게시글'
            }}
    });
</script>
