<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerFragment">
    <head>
        <meta charset="UTF-8">
        <title>Admin-Board</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- 부트스트랩 css -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.6.4.js"
                integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
                crossorigin="anonymous"></script>
        <!-- 부트스트랩 js -->
        <script src="/js/bootstrap.min.js"></script>
    </head>
</th:block>
</html>
