<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    수정
                </div>
                <div class="card-body view-card-body">

                    <form action="/attached/modify" method="post" enctype="multipart/form-data">
                        <input type="hidden" id="boardNo" name="boardNo" th:value="${dto.boardNo}">
                        <input type="hidden" id="categoryBoard" name="categoryBoard" th:value="${dto.categoryBoard}">
                        <input type="hidden" id="urlCategory" name="urlCategory" th:value="attached">
                        <div class="input-group mb-3">
                            <span class="input-group-text col-sm-1">제목</span>
                            <input type="text" class="form-control" name="boardTitle" th:value="${dto.boardTitle}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text col-sm-1">작성자</span>
                            <input type="text" class="form-control" name="boardWriter" th:value="${dto.boardWriter}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text col-sm-1">조회수</span>
                            <input type="text" class="form-control" th:value="${dto.boardView}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text col-sm-1">생성일자</span>
                            <input type="text" class="form-control" th:value="${#dates.format(dto.boardRegDate, 'yy.MM.dd HH:mm')}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text col-sm-1">수정일자</span>
                            <input type="text" class="form-control" th:value="${dto.boardModDate == null ? '-' : #dates.format(dto.boardModDate, 'yy.MM.dd HH:mm')}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text col-sm-1">내용</span>
                            <textarea class="form-control col-sm-5" name="boardContent" rows="5">[[ ${dto.boardContent} ]]</textarea>
                        </div>

<!--                        todo 파일 수정시 index error 나옴-->
                        <div class="col">
                            <div th:if="${response.attachedCount == 0}">
                                <div class="col-md-3">
                                    <input class="form-control" id="file1" name="files" type="file">
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" id="file2" name="files" type="file">
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" id="file3" name="files" type="file">
                                </div>
                            </div>
                            <th:block th:each="attached: ${response.attachedDto}">
                                <div th:if="${response.attachedCount == 1}">
                                    <div class="card-text" th:text="${attached.attachedOriginalName}"></div>
                                    <a th:href="@{/attached/delete/{attachedNo}(attachedNo=${attached.attachedNo})}"
                                       class="btn btn-danger">파일삭제</a>
                                    <div class="col-md-3">
                                        <input class="form-control" name="files" type="file">
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" name="files" type="file">
                                    </div>
                                </div>
                                <div th:if="${response.attachedCount == 2}">
                                    <th:block>
                                        <div class="card-text" th:text="${attached.attachedOriginalName}"></div>
                                        <a th:href="@{/attached/delete/{attachedNo}(attachedNo=${attached.attachedNo})}"
                                           class="btn btn-danger">파일삭제</a>
                                    </th:block>
                                </div>
                                <div th:if="${response.attachedCount == 3}">
                                    <div class="card-text" th:text="${attached.attachedOriginalName}"></div>
                                    <a th:href="@{/attached/delete/{attachedNo}(attachedNo=${attached.attachedNo})}"
                                       class="btn btn-danger">파일삭제</a>
                                </div>
                            </th:block>
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <a th:href="@{/attached}" class="text-decoration-none">
                                    <button type="button" class="btn btn-secondary">취소</button>
                                </a>
                                <button type="submit" class="btn btn-primary" id="btn-file-save">수정</button>
                                <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
                            </div>
                        </div>
                    </form>



                </div><!--card body-->
            </div><!--card-->
        </div>
    </div>
</div>
