<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

    <h2>게시글 작성</h2>

    <div class="container">
        <form>
            <input type="hidden" id="urlCategory" th:value="attached">
            <input type="hidden" id="categoryBoard" value="ATTACHED">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="boardTitle">Title</label>
                    <input type="text" class="form-control" id="boardTitle">
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <label for="boardContent">Content</label>
                    <textarea class="form-control" id="boardContent"></textarea>
                </div>
            </div>

            <div class="col text-center">
                <a href="/free" role="button" class="btn btn-light">취소</a>
                <button type="button" class="btn btn-primary" id="btn-save">등록</button>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <input class="form-control form-control" name="formFileSm" type="file">
                </div>
                <div class="col-md-3">
                    <input class="form-control form-control" name="formFileSm" type="file">
                </div>
                <div class="col-md-3">
                    <input class="form-control form-control" name="formFileSm" type="file">
                </div>
            </div>
        </form>
    </div>

</div>
