<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogreene.adminmpa.board.repository.AttachedRepository">

    <!-- 동적조회쿼리 -->
    <sql id="search">
        <where>
            <if test="keyword != null and keyword.length > 0">
                board_title LIKE CONCAT('%', #{keyword}, '%')
                OR board_content LIKE CONCAT('%', #{keyword}, '%')
                OR board_writer LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="categoryBoard != null and categoryBoard.length > 0">
                <trim prefix="and">
                    category_board LIKE #{categoryBoard}
                </trim>
            </if>
            <if test="startDate != null and endDate != null">
                <trim prefix="and">
                    board_reg_date BETWEEN date(#{startDate}) AND date(#{endDate})
                </trim>
            </if>
            AND category_board LIKE 'ATTACHED'
        </where>
    </sql>

    <!-- 게시글 개수 -->
    <select id="totalAttachedCount" resultType="int">
        SELECT COUNT(board_no)

        FROM base_board

        <include refid="search"/>
    </select>

    <!-- todo 현재 자료만 있는 테이블과 연관관계가 이상하게 묶였다. 내생각엔 attached만 모아놓은 테이블로 바꾸고 새로 만들어서 연관관계를 맺어야될것같다. -->
    <!-- 자료실 전체조회 -->
    <select id="getAttachedArticle" resultType="BoardDTO">
        SELECT
            board_no AS boardNo,
            board_content AS boardContent,
            board_title AS boardTitle,
            board_writer AS boardWriter,
            board_view AS boardView,
            board_reg_date AS boardRegDate,
            board_mod_date AS boardModDate,
            category_board AS categoryBoard

        FROM base_board

        <include refid="search"/>

        ORDER BY board_no DESC

        LIMIT #{skip}, #{size}
    </select>

    <!-- 자료실 특정게시글 -->
    <select id="getAttachedViewArticle" resultType="BoardDTO">
        SELECT
            board_no AS boardNo,
            board_content AS boardContent,
            board_title AS boardTitle,
            board_writer AS boardWriter,
            board_view AS boardView,
            board_reg_date AS boardRegDate,
            board_mod_date AS boardModDate,
            category_board AS categoryBoard

        FROM base_board

        WHERE board_no = #{boardNo}
    </select>

    <!-- 첨부파일 등록 -->
    <insert id="postAttachedArticle">
        INSERT INTO
            board_attached (board_no,
                            attached_name,
                            attached_original_name,
                            attached_path)

        VALUES
            (#{boardNo},
             #{attachedName},
             #{attachedOriginalName},
             #{attachedPath})
    </insert>

    <!-- 첨부파일 리스트 -->
    <select id="getAttached" parameterType="long" resultType="AttachedDTO">
        SELECT *

        FROM board_attached

        WHERE board_no = #{boardNo};
    </select>

    <!-- 단일 파일 조회 -->
    <select id="getSingleAttached" parameterType="Long" resultType="AttachedDTO">
        SELECT *

        FROM board_attached

        WHERE attached_no = #{attachedNo};
    </select>

    <!-- 파일 삭제 -->
    <delete id="deleteSingleAttached">
        DELETE FROM
            board_attached

        WHERE
            attached_no = #{attachedNo};
    </delete>

    <!-- 자료실 삭제 -->
    <delete id="deleteAttachedArticle">
        DELETE FROM
            board_attached

        WHERE
            board_no = #{boardNo};
    </delete>
</mapper>
