<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogreene.adminmpa.board.repository.BaseRepository">

    <!-- 게시글 등록 -->
    <insert id="postArticle" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="boardNo">
        INSERT INTO
            base_board (board_title,
                        board_content,
                        board_writer,
                        category_board)
        VALUES
            (#{boardTitle},
             #{boardContent},
             #{boardWriter},
             #{categoryBoard});
    </insert>

    <!-- 게시글 수정 -->
    <update id="updateArticle" parameterType="BoardDTO">
        UPDATE
            base_board

        SET
            board_title = #{boardTitle},
            board_writer = #{boardWriter},
            board_content = #{boardContent},
            category_board = #{categoryBoard},
            board_mod_date = current_timestamp

        WHERE
            board_no = #{boardNo};
    </update>

    <!-- 조회수 증가 -->
    <update id="viewUpdate" parameterType="Long">
        UPDATE
            base_board

        SET
            board_view = board_view + 1

        WHERE
            board_no = #{boardNo}
    </update>

    <select id="newArticleByDate" resultType="java.util.Map">
        SELECT
            DATE(board_reg_date) AS date,
            COUNT(*) AS count

        FROM
            base_board

        WHERE
            board_reg_date >= DATE_SUB(now(), interval 7 day)

        GROUP BY
            DATE(board_reg_date)
    </select>

    <!-- 메인페이지 게시판 별 게시글 -->
    <select id="getMainFreeArticle" resultType="BoardDTO">
        SELECT *

        FROM base_board

        WHERE category_board LIKE 'FREE'

        ORDER BY board_no DESC

        LIMIT 5;
    </select>
    <select id="getMainNoticeArticle" resultType="BoardDTO">
        SELECT *

        FROM base_board

        WHERE category_board LIKE 'NOTICE'

        ORDER BY board_no DESC

        LIMIT 5;
    </select>
    <select id="getMainGalleryArticle" resultType="BoardDTO">
        SELECT *

        FROM base_board

        WHERE category_board LIKE 'GALLERY'

        ORDER BY board_no DESC

        LIMIT 5;
    </select>
    <select id="getMainAttachedArticle" resultType="BoardDTO">
        SELECT *

        FROM base_board

        WHERE category_board LIKE 'ATTACHED'

        ORDER BY board_no DESC

        LIMIT 5;
    </select>
</mapper>
