<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogreene.adminmpa.board.repository.FreeRepository">

    <!-- 동적조회쿼리 -->
    <sql id="search">
        <where>
            <if test="keyword != null and keyword.length > 0">
                bb.board_title LIKE CONCAT('%', #{keyword}, '%')
                OR fb.free_board_content LIKE CONCAT('%', #{keyword}, '%')
                OR bb.board_writer LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="categoryBoard != null and categoryBoard.length > 0">
                <trim prefix="and">
                    bb.category_board LIKE #{categoryBoard}
                </trim>
            </if>
            <if test="startDate != null and endDate != null">
                <trim prefix="and">
                    bb.board_reg_date BETWEEN date(#{startDate}) AND date(#{endDate})
                </trim>
            </if>
            AND bb.category_board LIKE 'FREE'
        </where>
    </sql>

    <!-- 게시글 개수 -->
    <select id="totalFreeCount" resultType="int">
        SELECT COUNT(fb.board_no)

        FROM board_free fb
            LEFT JOIN base_board bb
                ON bb.board_no = fb.board_no

        <include refid="search"/>
    </select>

    <!-- 자유게시판 전체조회-->
    <select id="getFreeArticle" resultType="BoardDTO">
        SELECT
            fb.board_no AS boardNo,
            fb.free_board_content AS boardContent,
            bb.board_title AS boardTitle,
            bb.board_writer AS boardWriter,
            bb.board_view AS boardView,
            bb.board_reg_date AS boardRegDate,
            bb.board_mod_date AS boardModDate,
            bb.category_board AS categoryBoard

        FROM board_free fb
            LEFT JOIN base_board bb
                    ON bb.board_no = fb.board_no

        <!--동적 조회쿼리-->
        <include refid="search"/>

        ORDER BY fb.board_no DESC

        LIMIT #{skip}, #{size}
    </select>

    <!-- 자유게시판 특정게시글 -->
    <select id="getFreeViewArticle" resultType="BoardDTO">
        SELECT
            fb.board_no AS boardNo,
            fb.free_board_content AS boardContent,
            bb.board_title AS boardTitle,
            bb.board_writer AS boardWriter,
            bb.board_view AS boardView,
            bb.board_reg_date AS boardRegDate,
            bb.board_mod_date AS boardModDate,
            bb.category_board AS categoryBoard

        FROM board_free fb
            LEFT JOIN base_board bb
                ON bb.board_no = fb.board_no

        WHERE
            fb.board_no = #{boardNo};
    </select>

    <!-- 자유게시판 등록 -->
    <insert id="postFreeArticle" parameterType="BoardDTO">
        INSERT INTO
            board_free (board_no,
                        free_board_content)

        VALUES
            (#{boardNo},
             #{boardContent});
    </insert>

    <!-- 자유게시판 게시글 수정 -->
    <update id="updateFreeArticle" parameterType="BoardDTO">
        UPDATE
            board_free

        SET
            free_board_content = #{boardContent}

        WHERE
            board_no = #{boardNo}
    </update>

    <!-- 자유게시판 게시글 삭제 -->
    <delete id="deleteFree">
        DELETE FROM
            board_free

        WHERE
            board_no = #{boardNo};
    </delete>
</mapper>
