<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogreene.adminmpa.board.repository.GalleryRepository">

    <!-- 동적조회쿼리 -->
    <sql id="search">
        <where>
            <if test="keyword != null and keyword.length > 0">
                board_title LIKE CONCAT('%', #{keyword}, '%')
                OR board_content LIKE CONCAT('%', #{keyword}, '%')
                OR board_writer LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="categoryBoard != null and categoryBoard.length > 0">
                <trim prefix="and">
                    category_board LIKE #{categoryBoard}
                </trim>
            </if>
            <if test="startDate != null and endDate != null">
                <trim prefix="and">
                    board_reg_date BETWEEN date(#{startDate}) AND date(#{endDate})
                </trim>
            </if>
            AND category_board LIKE 'GALLERY'
        </where>
    </sql>

    <!-- 게시글 개수 -->
    <select id="totalGalleryCount" resultType="int">
        SELECT COUNT(board_no)

        FROM base_board

        <include refid="search"/>
    </select>

    <!-- 자료실 전체조회 -->
    <select id="getGalleryArticle" resultType="BoardDTO">
        SELECT
        board_no AS boardNo,
        board_content AS boardContent,
        board_title AS boardTitle,
        board_writer AS boardWriter,
        board_view AS boardView,
        board_reg_date AS boardRegDate,
        board_mod_date AS boardModDate,
        category_board AS categoryBoard

        FROM base_board

        <include refid="search"/>

        ORDER BY board_no DESC

        LIMIT #{skip}, #{size}
    </select>

    <!-- 자료실 특정게시글 -->
    <select id="getGalleryViewArticle" resultType="BoardDTO">
        SELECT
            board_no AS boardNo,
            board_content AS boardContent,
            board_title AS boardTitle,
            board_writer AS boardWriter,
            board_view AS boardView,
            board_reg_date AS boardRegDate,
            board_mod_date AS boardModDate,
            category_board AS categoryBoard

        FROM base_board

        WHERE board_no = #{boardNo}
    </select>

    <!-- 이미지 등록 -->
    <insert id="postImage">
        INSERT INTO
            board_gallery (board_no,
                           image_name,
                           image_original_name,
                           image_path)

        VALUES
            (#{boardNo},
             #{attachedName},
             #{attachedOriginalName},
             #{attachedPath})
    </insert>

    <!-- 이미지조회 -->
    <select id="getImage" parameterType="long" resultType="AttachedDTO">
        SELECT *

        FROM board_gallery

        WHERE board_no = #{boardNo};
    </select>

    <!-- 갤러리 게시글 삭제 -->
    <delete id="deleteGalleryArticle">
        DELETE FROM
            base_board

        WHERE
            board_no = #{boardNo};
    </delete>
</mapper>
